html {
  min-height: 100%;
  min-width: 100%;
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  box-sizing: border-box;
  --primary-color: #EB0000;
  --primary-color-hover: #c70000;
  --display-medium: 45px;
  --display-small: 36px;
  --headline-small: 24px
}

/* header */
header {
  background-color: white;
  padding: 12px 24px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, .5);
  z-index: 9;
}

header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}

header .logo-text a {
  display: flex;
  align-items: center;
  gap: 12px;
  color: black;
  text-decoration: none;
  transition: color .2s ease-in-out;
}

header .logo-text a:hover {
  color: var(--primary-color);
}

header .logo-image {
  width: 90px;
}

header nav {
  position: fixed;
  right: 0;
  top: 0;
  background: white;
  height: 100vh;
  width: 50%;
  z-index: 10;
  text-transform: uppercase;
  transform: translateX(110%);
  transition: transform .5s ease-in-out;
  box-shadow: -1px 0px 10px rgba(0, 0, 0, .5);
}

header nav .close {
  width: 50px;
  margin: 24px;
  cursor: pointer;
}

header nav ul {
  display: flex;
  flex-direction: column;
  padding: 0;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  display: block;
  text-decoration: none;
  padding: 24px;
  color: black;
}

header nav ul li a.active {
  color: var(--primary-color);
  background-color: rgb(235, 235, 235);
}

header nav ul li a:hover {
  background-color: rgb(235, 235, 235);
}

header .menu {
  cursor: pointer;
}

header .open-nav {
  transform: translateX(0px);
}

header.sticky {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  animation: reveal .5s ease-in-out forwards;
}

@keyframes reveal {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.subheader {
  background-color: var(--primary-color);
  padding: 12px 24px;
  z-index: 10;
}

.subheader p {
  max-width: 1200px;
  margin: auto;
  color: white;
}

/* Banner */
.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  min-height: 85vh;
  padding: 12px 24px;
  text-align: center;
}

.banner .background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:
    linear-gradient(to bottom, transparent 60%, white 80%),
    url(./images/banner-img.png) center -50px no-repeat;
  background-size: cover;
  z-index: -1;
}

.banner .title {
  font-size: var(--display-medium);
}

.banner .title span {
  color: var(--primary-color);
  text-shadow: 0 0 6px rgba(25, 0, 255, .7);
  animation: blueYellowGlow 2s ease-in-out infinite alternate;
}

@keyframes blueYellowGlow {
  100% {
    text-shadow: 0 0 6px rgba(234, 245, 39, .7);
  }
}

/* history */
.history {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 80vh;
  padding: 48px 24px;
}

.history .background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(./images/history/history-bg.png) center no-repeat;
  background-size: cover;
  z-index: -1;
}

.history .card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 15px;
  background-color: white;
  width: 100%;
  max-width: 1200px;
  padding: 24px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, .5);
  text-align: center;
}

.history .card .header h2 {
  font-size: var(--display-small);
  border-left: 3px solid var(--primary-color);
  padding-left: 12px;
  margin-bottom: 12px;
}

.history .card .header h2 span {
  color: var(--primary-color);
}

.history .card .carousel {
  align-self: center;
  position: relative;
  border-radius: 15px;
  width: 100%;
  overflow: hidden;
}

.history .card .carousel button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  background-color: var(--primary-color);
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 7;
}

.history .card .carousel button:hover {
  background-color: var(--primary-color-hover);
}

.history .card .carousel button.left-btn {
  visibility: hidden;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
}

.history .card .carousel button.right-btn {
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
}

.history .card .carousel .container {
  display: flex;
  gap: 12px;
  transition: transform 1s ease-in-out;
}

.history .card .carousel img {
  border-radius: 15px;
  width: 100%;
}

/* map */
.map {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  padding: 0px 24px 96px;
}

.map>h2 {
  font-size: var(--display-small);
  text-align: center;
}

.map>h2 span {
  color: var(--primary-color);
}

.map>p {
  text-align: center;
}

.map>.container {
  margin: auto;
  width: 100%;
  max-width: 1200px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, .5);
}

.map>.container .card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  padding: 12px;
  background-color: white;
}

.map>.container .card .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.map>.container .card .header p {
  font-weight: bold;
}

.map>.container .card .header .buttons button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 50vh;
  background-color: transparent;
  height: 50px;
  width: 50px;
  cursor: pointer;
  transition: background-color .1s ease-in-out;
}

.map>.container .card .header .buttons button:hover {
  background-color: black;
}

.map>.container .card .header .buttons button:hover svg path {
  fill: white;
}

.map>.container .card .header .buttons .left-btn {
  visibility: hidden;
}

.map>.container .card .title {
  font-size: var(--headline-small);
}

.map>.container .card .carousel {
  display: none;
}

.map>.container .map-container {
  position: relative;
  width: 170%;
}

.map>.container .map-container h3 {
  display: none;
}

.map>.container .map-container .marker {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transform: translate(-50%, -80%);
}

.map>.container .map-container .marker:hover svg g path {
  fill: black;
}

.map>.container .map-container .marker svg {
  width: 12px;
  transition: width .4s ease-in-out;
}

.map>.container .map-container .marker p {
  display: none;
  transition: fill .4s ease-in-out;
}

.map>.container .map-container .location-villadeoro {
  top: 66.36%;
  left: 6.75%;
}

.map>.container .map-container .location-florenceville {
  top: 72.40%;
  left: 8.50%;
}

.map>.container .map-container .location-limpo {
  top: 47.99%;
  left: 11.96%;
}

.map>.container .map-container .location-romanville {
  top: 29.66%;
  left: 17.85%;
}

.map>.container .map-container .location-rosaflor {
  top: 43.50%;
  left: 16.20%;
}

.map>.container .map-container .location-rosewood {
  top: 38.38%;
  left: 20.52%;
}

.map>.container .map-container .location-ahas {
  top: 54.15%;
  left: 20.72%;
}

.map>.container .map-container .location-howard {
  top: 67.63%;
  left: 21.15%;
}

.map>.container .map-container .location-metrogate {
  top: 97.28%;
  left: 22.96%;
}

.map>.container .map-container .location-cataquiz {
  top: 65.42%;
  left: 24.57%;
}

.map>.container .map-container .location-fairfield {
  top: 32.93%;
  left: 29.52%;
}

.map>.container .map-container .location-progressive {
  top: 51.04%;
  left: 30.69%;
}

.map>.container .map-container .location-anros {
  top: 59.97%;
  left: 28.59%;
}

.map>.container .map-container .location-buenarosa10 {
  top: 67.36%;
  left: 29.52%;
}

.map>.container .map-container .location-richfield {
  top: 29.24%;
  left: 34.02%;
}

.map>.container .map-container .location-donarosina {
  top: 57.06%;
  left: 34.43%;
}

.map>.container .map-container .location-gruenville {
  top: 37.22%;
  left: 41.47%;
}

.map>.container .map-container .location-amihan {
  top: 60.04%;
  left: 38.43%;
}

.map>.container .map-container .location-tionco {
  top: 68.43%;
  left: 37.71%;
}

.map>.container .map-container .location-celinahomes5 {
  top: 72.34%;
  left: 36.16%;
}

.map>.container .map-container .location-batitis {
  top: 65.77%;
  left: 40.68%;
}

.map>.container .map-container .location-amarante {
  top: 62.58%;
  left: 43.49%;
}

.map>.container .map-container .location-alinsod {
  top: 69.37%;
  left: 42.07%;
}

.map>.container .map-container .location-farmview {
  top: 26.24%;
  left: 39.69%;
}

.map>.container .map-container .location-jb {
  top: 56.73%;
  left: 41.62%;
}

.map>.container .map-container .location-rosada {
  top: 45.80%;
  left: 42.84%;
}

.map>.container .map-container .location-zavalla3 {
  top: 60.98%;
  left: 46.08%;
}

.map>.container .map-container .location-ilemhomes {
  top: 69.64%;
  left: 46.04%;
}

.map>.container .map-container .location-marcopolo {
  top: 51.63%;
  left: 49.14%;
}

.map>.container .map-container .location-donpablo {
  top: 64.95%;
  left: 49.28%;
}

.map>.container .map-container .location-perlas {
  top: 72.53%;
  left: 49.52%;
}

.map>.container .map-container .location-pambuanalley {
  top: 74.68%;
  left: 51.89%;
}

.map>.container .map-container img {
  display: block;
  width: 100%;
}

.active-location {
  z-index: 10 !important;
}

.active-location svg {
  width: 24px !important;
}

.active-location svg g path {
  fill: black !important;
}

.active-location p {
  display: block !important;
}

/* sectors */
.sectors {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 96px 24px;
  text-align: center;
}

.sectors h2 {
  font-size: var(--display-small);
}

.sectors h2 span {
  color: var(--primary-color);
}

.sectors .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px;
  margin: auto;
  width: 100%;
  max-width: 1200px;
}

.sectors .container .card {
  position: relative;
  flex: 1;
  border-radius: 15px;
  min-width: 200px;
  height: 300px;
  overflow: hidden;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, .5);
  transition: transform .2s ease-in-out;
}

.sectors .container .card:hover {
  transform: scale(1.05, 1.05);
}

.sectors .container .card:hover .red-blend {
  opacity: 0;
}

.sectors .container .health .bg-image {
  background: url(./images/sectors/health-sector-img.jpg) -70px no-repeat;
}

.sectors .container .security .bg-image {
  background: url(./images/sectors/security-sector-img.jpg) center no-repeat;
}

.sectors .container .business .bg-image {
  background: url(./images/sectors/business-sector-img.jpg) center no-repeat;
}

.sectors .container .sk .bg-image {
  background: url(./images/sectors/sk-sector-img.jpg) center no-repeat;
}

.sectors .container .environment .bg-image {
  background: url(./images/sectors/environment-sector-img.jpg) center no-repeat;
}

.sectors .container .card .bg-image {
  position: absolute;
  inset: 0;
  background-size: cover;
  z-index: -1;
}

.sectors .container .card .red-blend {
  position: absolute;
  inset: 0;
  background-color: rgba(235, 0, 0, 1);
  mix-blend-mode: color;
  opacity: 0.8;
  transition: opacity .2s ease-in-out;
}

.sectors .container .card .content {
  background-color: rgba(0, 0, 0, .3);
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  color: white;
  padding: 0px 24px 12px;
}

.sectors .container .card .content h3 {
  font-size: var(--headline-small);
  font-weight: normal;
}

/* footer */
footer {
  background-color: #221F1F;
  color: white;
  padding: 24px;
}

footer .container {
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin: auto;
  max-width: 1200px;
}

footer .container .logo-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  text-align: center;
}

footer .container .logo-text img {
  width: 100px;
}

footer .container .location-group {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: center;
}

footer .container .location-group iframe {
  width: 100%;
  height: 300px;
}

/* Reusables */
.solid-button {
  border: none;
  border-radius: 50vh;
  padding: 10px 16px;
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
}

.solid-button:hover {
  background-color: var(--primary-color-hover);
}

.animate-fadein {
  animation: fadeIn 1s ease-in-out forwards;
}

.animate-movedown {
  animation: moveDown 1s ease-in-out forwards;
}

.animate-scaleup {
  animation: scaleUp 1s .3s ease-in-out forwards;
}

.animate-fadein-delayed {
  animation: fadeIn 1s 1s ease-in-out forwards;
}

.animate-movedown-delayed {
  animation: moveDown 1s 1s ease-in-out forwards;
}

.hidden {
  opacity: 0;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes moveDown {
  from {
    transform: translateY(-50px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes scaleUp {
  from {
    transform: scale(.9, .9);
  }

  to {
    opacity: 1;
    transform: scale(1, 1);
  }
}

/* ================================================================== */
/* Tablet breakpoint */
@media only screen and (min-width: 920px) {
  * {
    --display-medium: 52px;
    --display-small: 44px;
  }

  /* header */
  header {
    padding: 12px 48px;
  }

  .subheader {
    padding: 12px 48px;
  }

  /* banner */
  .banner {
    padding: 12px 48px;
  }

  .banner .title {
    font-size: var(--display-medium);
  }

  /* history */
  .history {
    padding: 48px 48px;
  }

  .history .card {
    flex-direction: row;
    text-align: left;
  }

  .history .card .header {
    max-width: 50%;
  }

  /* map */
  .map {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    padding: 0px 48px 96px;
  }

  .map>.container {
    position: relative;
  }

  .map>.container .card {
    position: absolute;
    right: 12px;
    top: 12px;
    border-radius: 15px;
    width: 40%;
    z-index: 7;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, .5);
  }

  .map>.container .card .carousel {
    display: block;
    border-radius: 15px;
    width: 100%;
    overflow: hidden;
  }

  .map>.container .card .carousel .container {
    display: flex;
    gap: 12px;
    transition: transform 1s ease-in-out;
  }

  .map>.container .card .carousel .container img {
    display: block;
    border-radius: 15px;
    width: 100%;
    object-fit: cover;
  }

  .map>.container .map-container {
    width: 100%;
  }

  .map>.container .map-container h3 {
    display: block;
    position: absolute;
    top: 42.26%;
    left: 32.67%;
    color: var(--primary-color);
    font-size: var(--headline-small);
    transform: translate(-50%, -50%);
  }

  .map>.container .map-container .marker {
    transform: translate(-50%, -50%);
  }

  .map>.container .map-container .marker p {
    display: block;
    font-size: 10px;
  }

  /* sectors */
  .sectors {
    padding: 96px 48px;
  }

  /* footer */
  footer {
    padding: 24px 48px;
  }

  footer .container {
    flex-direction: row;
    justify-content: space-between;
  }

  footer .container .logo-text {
    flex-direction: row;
    text-align: left;
  }

  footer .container .location-group {
    flex-direction: row;
    align-items: center;
    text-align: left;
  }

  footer .container .location-group iframe {
    width: 300px;
    height: 200px;
  }
}

/* ================================================================== */
/* Desktop breakpoint */
@media only screen and (min-width: 1400px) {

  /* header */
  .header {
    padding: 12px 0;
  }

  header nav {
    position: unset;
    width: unset;
    height: unset;
    background-color: transparent;
    box-shadow: unset;
    transform: translateX(0);
  }

  header nav .close {
    display: none;
  }

  header nav ul {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  header nav ul li a {
    padding: 0;
  }

  header nav ul li a:hover {
    background: none;
    text-decoration: underline;
  }

  header nav ul li a.active {
    background-color: transparent;
  }

  header nav ul li a.active:hover {
    text-decoration: none;
  }

  header .menu {
    display: none;
  }
}